@iconSize: 16px;
@tabHeight: 24px;
@tabWidth: 300px;
@tabBgColor: #ECECEC;
@barBgColor: rgba(202, 202, 202, 0.90);

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 10pt;
}

#sidebar {
  width: 99%;
  height: 100%;
  border-right: 1px solid darken(@barBgColor, 10%);
  background-color: @barBgColor;
  -webkit-user-select: none;

  div.tab {
    cursor: pointer;
    border-top: 1px solid #FDFDFD;
    border-bottom: 1px solid #AAAAAB;
    padding: 3px;
    overflow: hidden;
    background-color: @tabBgColor;
    white-space: nowrap;
    height: @tabHeight;

    &.active {
      background-color: lighten(@tabBgColor, 5%);
    }

    div.tab-info {
      float: left;

      img.tab-icon {
        width: @iconSize;
        height: @iconSize;
        margin-top: ((@tabHeight - @iconSize) / 2);
        margin-right: 5px;
      }

      span {
        // width: @tabWidth - 36;
        overflow: hidden;
        display: inline-block;
        margin-top: auto;
        margin-bottom: auto;
      }
    }

    &:hover div.tab-actions {
      visibility: visible;
    }

    div.tab-actions {
      visibility: hidden;
      z-index: 10;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      background-color: @tabBgColor;
      margin-top: ((@tabHeight - @iconSize - 2) / 2);
      position: absolute;
      width: 18px;
      right: 3px;
      padding: 2px;

      img.tab-close {
        cursor: pointer;
      }
    }

  }

  .new-tab-button {
    cursor: pointer;
    margin: 5px auto;
    width: 20px;
    height: 20px;
    display: block;
  }
}



